p {
  font-family: Roboto, sans-serif;
}

.video-title {
  font-size: 18px;
  font-weight: bold;
  color: #212529;
  width: 280px;
  line-height: 24px;
  margin: 0 0 5px 0;
}

.video-stats {
  font-size: 14px;
  color: #606060;
  margin: 0 0 18px 0;
}

.video-author {
  font-size: 14px;
  color: #606060;
  margin: 0 0 20px 0;
}

.video-description {
  font-size: 14px;
  color: #606060;
  width: 280px;
  line-height: 21px;
  margin: 0 0 70px 0;
}

.apple-text {
  font-size: 14px;
  color: #fff;
  background-color: #e34140;
  padding: 18px;
  text-align: center;
}

.shop-link {
  cursor: pointer;
}

.shop-link:hover {
  text-decoration: underline;
}

.youtube-logo {
  height: 28px;
  margin: 0 0 7px 0;
}

.apple-logo {
  height: 24px;
  margin-left: 2px;
}