.tahoma {
  font-family: Tahoma, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.verdana {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.subtitle {
  color: rgb(100, 100, 100);
  margin-bottom: 18px;

}

.description {
  width: 300px;
  margin-bottom: 18px;
  line-height: 22px;
}

.fake-button {
  font-size: 14px;
  color: white;
  background-color: rgb(12, 131, 12);
  width: 90px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sale-title {
  font-family: Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.sale-subtitle {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: rgb(255, 0, 13);
  margin: 4px 0 0 0;
}

.shopping-title {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.shopping-subtitle {
  font-family: Arial, sans-serif;
  margin: 14px 0 0 0;
  text-align: center;
  width: 360px;
}

.shopping-link {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 14px 0;
  text-align: center;
  width: 360px;
  color: rgb(82, 112, 209);
  cursor: pointer;
}

.arial {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 400px;
}

.new {
  font-size: 12px;
  font-weight: bold;
  color: rgb(223, 134, 2);
  margin: 5px 0;
}

.product {
  font-size: 20px;
  font-weight: bold;
  margin: 1px 0;
}

.big-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.price {
  font-size: 15px;
  margin: 8px 0;
}

.buy {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: rgb(57, 102, 250);
  padding: 6px;
  width: 36px;
  border-radius: 20px;
  margin: 13px 175px;
  cursor: pointer;
}

.dolar {
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px 0;
}

.usd {
  font-size: 28px;
  font-weight: 500;
}

.usd-span {
  font-size: 16px;
  color: gray;
}

.today {
  font-weight: 500;
  color: green;
}

.after-hours {
  font-weight: 500;
  color: rgb(109, 109, 109);
}

.hours-span {
  color: rgb(230, 5, 5);
}

.tweet-title {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 6px 0;
}

.free-code-span {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: rgb(99, 99, 99);
  margin: 0;
  cursor: pointer;
}

.tweet-info {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
  width: 600px;
  line-height: 25px;
}

.twitter-span {
  font-family: Arial, sans-serif;
  color: rgb(19, 157, 221);
  margin: 0;
  cursor: pointer;
}